.buyButton{
display: flex;
width: 100%;
border-radius: 10px;
padding-left: 28px;
}
.button{
padding: 1em 2em 1em 2em;
background-color: transparent;
border-style: none;
font-size: 18px;
color: #fff;
line-height: 20px;
cursor: pointer;
background-color: #3fb9e5;
width: 95%;
border-radius: 10px;
}

.button:hover{
transform: scale(1.06);
transition-duration: 0.5s;
}

