.cart-widget {
  position: relative;
  cursor: pointer;
  text-align: center;
  padding:30px;
}

.qty-display {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 254, 254);
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 17px;
}


.cartWidget__counter {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 242, 0);
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 22px;
  color: rgb(10, 10, 10)
}
@media (min-width: 650px) {

  .cartWidget__counter {
      font-size: 1.5rem;
  }
}