.cart-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;   
}

.cart {
    min-width: 300px;
    min-height: 100px;
    
}

.cart li {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    border: 2px solid grey;
}

.cart li p {
    margin: 3px;
}

.img-cart{
    width: 80px;
    height: 80px;
}

.delete-item {
    margin: 10px;
    width: 110px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.delete-button {
    width: 150px;
    height: 50px;
    margin: 15px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #fff;;
    background-color: #f60707
}


@media (min-width: 650px) {

    .cart {
        min-width: 500px;
        min-height: 200px;
        
    } 
}

@media (min-width: 1024px) {
 
    .cart {
        min-width: 600px;
    } 
    
    .cart li {
        flex-direction: row;
        padding: 40px;
    }

    .cart li p {
        margin: 25px;
    }

}

.cartInfo form button:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
    cursor: pointer;
}
.delete-button:hover{
    background-color: #8C9CA2;
    color: #fff;
    transition-duration: 0.5s;
}

.cartInfo {
    width: 50%;
}

.cartInfo form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    align-items: center;
}

.cartInfo form input {
    width: 80%;
    border-style: none;
    border-bottom: 1px gray solid;
    background-color: transparent;
    text-align: center;
    padding: 0.5em;
    padding-top: 4rem;
}

.cartInfo form button {
    background-color: #8C9CA2;
    padding: 0.5em;
    border-radius: 10px;
    color: #fff;
    border-style: none;
    width: 50%;
}