
.total{
    text-align: center;
}
.cartTitle {
    font-size:40px;
    text-align: center;
}
.carritoVacio{
    text-align: center;
    font-size:30px;
}
.cart-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;   
    margin-left: 50px;
}

.cart {
    min-width: 300px;
    min-height: 300px;
    
}

.cart li {
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 30px;
    margin: 10px;
}

.cart li p {
    margin: 3px;
}

.img-cart{
    width: 100px;
    height: 100px;
}

.delete-item {
    margin: 10px;
    width: 40px;
    height: 40px;
    border:#fb0101;
    cursor: pointer;
    background-color: rgb(251, 251, 251);
    border-radius:15px;
}
.delete-item:hover {
    transform: scale(2);
    transition-duration: 0.5s;
    cursor: pointer;
}

.delete-button {
   
    width: 200px;
    height: 50px;
    margin: 15px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #fb0101;
}
.delete-button:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
    cursor: pointer;
}


.end-button {
    width: 250px;
    height: 50px;
    margin: 15px;
    font-size: 1.3rem;
    line-height: 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(59, 122, 0);
    border: 2px solid #d3b014;     
}


@media (min-width: 650px) {

    .cart {
        min-width: 500px;
        min-height: 200px;
        
    } 
}

@media (min-width: 1024px) {
 
    .cart {
        min-width: 600px;
    } 
    
    .cart li {
        flex-direction: row;
        padding: 40px;
    }

    .cart li p {
        margin: 25px;
    }

}

