.addToCart{
 height:2rem;
 width: 2 rem;
 margin-left:1rem;

}
.ItemCounter{
    padding: 1rem;
    width: 15rem;
    background-color: rgb(163, 154, 154);
    text-align: center;
    justify-content: center;
}
.plus{
    padding: 0.5rem;
    margin-right: 1rem;
}
.less{
    padding: 0.5rem;
    margin-left: 1rem;
}